.navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    color: rgb(251, 250, 218);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: ease 0.3s;
    cursor: default;
}

.nav-logo img {
    width: 50px;
}

.nav-logo .nav-title {
    font-size: 26px;
    font-weight: bold;
    padding-top: 4px;
}

.nav-logo:hover {
    letter-spacing: 2px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 50px;
    background: rgb(18, 55, 42);
    cursor: pointer;
}

.search-box:hover input {
    width: 350px;
    padding: 0 10px;
}

.search-box input {
    width: 0;
    outline: none;
    color: rgb(251, 250, 218);
    border: none;
    font-weight: 600;
    font-family: Exo;
    font-size: 20px;
    transition: 0.5s;
    background: transparent;
}

.search-box i {
    text-decoration: none;
    color: rgb(251, 250, 218);
    font-size: 20px;
}

.nav-link-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu .nav-link-items ul {
    display: flex;
    gap: 20px;
}

.nav-menu .nav-link-items li {
    font-size: 22px;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
}

.nav-menu .nav-link-items li:hover {
    border-color: rgb(67, 104, 80);
}

.nav-link-items .nav-action {
    display: flex;
    gap: 10px;
}

.nav-link-items .user-register, .user-signin {
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(251, 250, 218);
    background: rgb(18, 55, 42);
    transition: 0.5s;
    cursor: pointer;
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgb(251, 250, 218);
}

.user-register:hover, .user-signin:hover {
    opacity: 0.8;
}

.nav-link-items.open {
    right: 0;
}

@media (max-width: 960px) {
    .navbar {
        margin: 20px 25px;
    }
    .nav-link-items {
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: -100%;
        margin-right: -7px;
        padding: 20px;
        border-radius: 25px;
        background: rgba(18, 55, 42, 0.815);
        transition: right 0.3s ease-in-out;
    }
    .nav-link-items .user-register, .user-signin {
        background: rgb(67, 104, 80);
    }
    .nav-menu .nav-link-items ul {
        flex-direction: column;
        text-align: center;
    }
    .nav-menu .nav-link-items li {
        font-size: 18px;
    }
    .menu-btn {
        display: block;
    }
}

@media (max-width: 505px) {
    .nav-link-items {
        gap: 5px;
    }
    .nav-logo .nav-title {
        font-size: 22px;
    }
    .nav-menu .nav-link-items ul {
        gap: 0px;
    }
    .nav-menu .nav-link-items li {
        font-size: 15px;
    }
    .nav-menu .nav-action {
        flex-direction: column;
        text-align: center;
    }
    .search-box {
        display: none;
    }
}